nilearn>=0.6.0
torch>=1.6.0
torchvision>=0.7.0
numpy>=1.18.0
nibabel>=3.0.0
prettytable>=0.7.2
PyDispatcher>=2.0.5
h5py>=2.10.0
tensorboard>=2.1.1
matplotlib>=3.0.3
SimpleITK>=1.2.4
pydicom>=1.4.2
moviepy>=1.0.1